<div class="add-record-container container mt-4">
  <h2 class="text-center mb-4">Додати запис</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="text">Текст запису:</label>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <textarea
        id="text"
        [(ngModel)]="record.text"
        name="text"
        class="form-control"
        rows="5"
        placeholder="Введіть текст запису"
        required
      ></textarea>
    </div>

    <div class="captcha-container form-group d-flex align-items-center">
      <img [src]="captchaUrl" alt="CAPTCHA" class="captcha-image mr-3" />
      <input
        type="text"
        [(ngModel)]="captcha"
        name="captcha"
        class="form-control mr-3"
        placeholder="Введіть CAPTCHA"
        required
      />
      <button type="button" (click)="refreshCaptcha()" class="btn btn-secondary btn-sm mr-2">Оновити CAPTCHA</button>
    </div>

    <button type="submit" [disabled]="!record.text || !captcha" class="btn btn-primary btn-block mt-3">Додати</button>
  </form>

  <div *ngIf="isModalVisible" class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Запис успішно додано!</p>
          <button (click)="closeModal()" class="btn btn-primary">Закрити</button>
        </div>
      </div>
    </div>
  </div>
</div>
