<div class="add-record-container container mt-4">
  <h2 class="text-center mb-4">Додати запис</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="text">Текст запису:</label>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div> <!-- Повідомлення про успіх -->
      <textarea
        id="text"
        [(ngModel)]="record.text"
        name="text"
        class="form-control"
        rows="5"
        placeholder="Введіть текст запису"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="file">Завантажити файл:</label>
      <input type="file" (change)="onFileSelected($event)" class="form-control" accept=".jpg,.jpeg,.png,.gif,.txt" />
      <small class="form-text text-muted">Допустимі формати: JPG, GIF, PNG (320x240) або TXT (до 100 КБ)</small>
    </div>


    <div *ngIf="filePreviewUrl && isImage" class="preview-container mt-3">
      <img [src]="filePreviewUrl" alt="Preview" class="img-thumbnail" />
    </div>

    <div class="captcha-container form-group d-flex align-items-center">
      <img [src]="captchaUrl" alt="CAPTCHA" class="captcha-image mr-3" />
      <input
        type="text"
        [(ngModel)]="captcha"
        name="captcha"
        class="form-control mr-3"
        placeholder="Введіть CAPTCHA"
        required
      />
      <button type="button" (click)="refreshCaptcha()" class="btn btn-secondary btn-sm mr-2">Оновити CAPTCHA</button>
    </div>

    <button type="submit" [disabled]="!record.text || !captcha || !isFileValid" class="btn btn-primary btn-block mt-3">Додати</button>


  </form>
</div>
