<div class="comment-item border-left pl-3 my-2">
  <div class="d-flex justify-content-between align-items-center">
    <strong>{{ comment.userName }}</strong>
    <small class="text-muted"> Дата створення: {{ comment.creationDate | date: 'short' }}</small>
  </div>
  <p class="mb-1">{{ comment.text }}</p>

  <div *ngIf="comment.fileType">
    <div *ngIf="comment.fileType.startsWith('image/')">
      <a [href]="comment.fileData" data-lightbox="comment-image" data-title="{{ comment.fileName }}">
        <img [src]="comment.fileData" alt="Зображення" class="img-thumbnail" style="max-width: 320px; max-height: 240px;" />
      </a>
    </div>

    <div *ngIf="comment.fileType === 'text/plain'" class="mt-2">
      <a [href]="comment.fileData" target="_blank" class="btn btn-link text-primary">
        Переглянути файл: {{ comment.fileName }}
      </a>
    </div>
  </div>

  <div class="mb-2">
    <button class="btn btn-primary btn-sm" (click)="openReplyModal()">Відповісти</button>
  </div>

  <div class="replies ml-3">
    <ng-container *ngFor="let reply of comment.comments">
      <app-comment-item [comment]="reply" (addReply)="addReply.emit($event)"></app-comment-item>
    </ng-container>
  </div>
</div>
